---
import { Image } from "astro:assets";
import Logo from "../assets/logo.png"
---
<main>
  <div
    class="-z-50 absolute top-0 right-0 left-0 mx-auto"
    style={{ filter: "blur(clamp(200px, 10vw, 250px))" }}
  >
    <span
      class="absolute top-0 right-0 left-0 m-0 mx-auto h-[25vh] w-[90vw] bg-gradient-to-r from-[#0019F5]/50 to-[#828AD1]/50 p-0 sm:h-[15vh] md:h-[10vh] dark:bg-[#091588]/80 md:w-[80vw]"
      style={{
        clipPath: "polygon(0% 51%, 50% 0%, 100% 51%, 100% 100%, 0% 100%)",
      }}
    />
  </div>
  <div class="flex flex-col pt-12 w-screen items-center">
    <h1 class="text-4xl font-medium tracking-tighter font-dm-sans flex gap-4 items-center">
      <Image src={Logo} alt="Bountherie logo" class="size-12 invert dark:invert-0" />
      Bountherie
    </h1>
  </div>
</main>
