---
import { Image } from "astro:assets";
import Logo from "@/assets/logo.png"
---
<main>
  <div class="flex flex-col pt-4 w-full items-center gap-3">
    <h1 class="text-4xl font-semibold tracking-tighter font-dm-sans flex gap-4 items-center">
      <Image src={Logo} alt="Bountherie logo" class="size-12 invert dark:invert-0" />
      Bountherie
    </h1>
    <p class="text-center text-xl">a simple image boundaries fix for discord widget</p>
  </div>
</main>
