---
import "@/styles/global.css";
import ThemeManager from "@/components/ThemeManager.astro";
import ThemeSelect from "@/components/ThemeSelect.astro";
import { PlusSeparator } from "@/components/ui/plus-separator";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Bountherie</title>
		<ThemeManager />
	</head>
	<body class="flex flex-col">
	  <ThemeSelect />

    <div class="border-foreground/10 border-b px-8">
      <div class="mx-auto max-w-4xl border-foreground/10 border-x p-4"></div>
    </div>
    <div class="px-8">
      <div
        class="-z-50 absolute top-0 right-0 left-0 mx-auto"
        style={{ filter: "blur(clamp(200px, 10vw, 250px))" }}
      >
        <span
          class="absolute top-0 right-0 left-0 m-0 mx-auto h-[25vh] bg-gradient-to-r w-[90vw] from-[#0019F5]/50 to-[#828AD1]/50 p-0 sm:h-[15vh] md:h-[10vh] dark:bg-[#091588]/80 md:w-[80vw]"
          style={{
            clipPath: "polygon(0% 51%, 50% 0%, 100% 51%, 100% 100%, 0% 100%)",
          }}
        />
      </div>
      <main class="mx-auto max-w-4xl border-foreground/10 border-x p-4 relative">
        <PlusSeparator position={['top-left', 'top-right']} />
        <slot />
      </main>
    </div>
    <div class="grow px-8">
      <div class="mx-auto h-full max-w-4xl border-foreground/10 border-x"></div>
    </div>
    <div class="border-foreground/10 border-t px-8">
      <div class="mx-auto max-w-4xl border-foreground/10 border-x h-12 relative">
        <PlusSeparator position={['top-left', 'top-right']} />
      </div>
    </div>
  </body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
